<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.0.1/remixicon.css">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}">
    <title>SAé 502 | Application de collection d'informations sur les machines infrastructure</title>
</head>
<body>
    <nav>
        <div class="nav-logo">
            <a href="#">
                <img src="{{ url_for('get_image', filename='logo-2.png') }}">
            </a>
        </div>


        <ul class="nav-links">
            <li class="link"><a href="{{url_for('home')}}">Accueil</a></li>
            <li class="link"><a href="{{url_for('application')}}">Application</a></li>
            <li class="link"><a href="{{url_for('a_propos')}}">À propos</a></li>
        </ul>

    
        <button class="btn">Sujet</button>
    </nav>


    <header class="container">
        <div class="content">
            <span class="blur"></span>
            <span class="blur"></span>
            <h4>Application de collection d'informations sur les machines infrastructure</h4>
            <h1><span>SAé 502</span></h1>
            <p>

            </p>
            <button class="btn">Par ici !</button>
        </div>
        <div class="image">
            <img src="{{ url_for('get_image', filename='Cyber.jpg') }}">
        </div>
    </header>


    <section class="container">
        <h2 class="header">L'équipe du projet</h2>
        <div class="features">
            <div class="card">
              <h4>Matthieu HONORÉ</h4>
              <p>B.U.T. 3 R&T Cyber</p>
              <img src="{{ url_for('get_image', filename='matthieu.jpeg') }}">
            </div>
            <div class="card">
              <h4>Pierre-Hadrien GILLÉ-PERRIER</h4>
              <p>B.U.T. 3 R&T Cyber</p>
              <img src="{{ url_for('get_image', filename='ph.jpeg') }}">
            </div>
            <div class="card">
              <h4>Florian HURET</h4>
              <p>B.U.T. 3 R&T Cyber</p>
              <img src="{{ url_for('get_image', filename='florian.jpeg') }}">
            </div>
            <div class="card">
                <h4>Gabin NEVEU</h4>
                <p>B.U.T. 3 R&T Cyber</p>
                <img src="{{ url_for('get_image', filename='gabin.jpeg') }}">
            </div>
        </div>
    </section>
    <script src="script.js"></script>
</body>
</html>