<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.0.1/remixicon.css">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}">
    <title>SAé 502 | Application de collection d'informations sur les machines infrastructure</title>
</head>
<body>
    <nav>
        <div class="nav-logo">
            <a href="#">
                <img src="{{ url_for('get_image', filename='logo-2.png') }}">
            </a>
        </div>


        <ul class="nav-links">
            <li class="link"><a href="{{url_for('home')}}">Accueil</a></li>
            <li class="link"><a href="{{url_for('application')}}">Application</a></li>
            <li class="link"><a href="{{url_for('a_propos')}}">À propos</a></li>
        </ul>

    
        <button class="btn">Sujet</button>
    </nav>


    <header class="container">
        <div class="content">
            <span class="blur"></span>
            <span class="blur"></span>
            <h4>Application de collection d'informations sur les machines infrastructure</h4>
            <h1><span>SAé 502</span></h1>
            <p>

            </p>
            <button class="btn">Par ici !</button>
        </div>
        <div class="image">
            <img src="{{ url_for('get_image', filename='Cyber.jpg') }}">
        </div>
    </header>


    <section class="container">
        <h2 class="header">Nos fonctionnalités</h2>
        <div class="features">
            <div class="card">
                <span><i class="ri-instance-fill"></i></span>
                <h4>Compatibilité</h4>
                <p> Prise en charge de différents systèmes d'exploitation UNIX.
                    <br>Facilité d'intégration avec d'autres outils de supervision.</p>
            </div>
            <div class="card">
                <span><i class="ri-shield-user-fill"></i></span>
                <h4>Audit de sécurité</h4>
                <p>Collecte d'informations spécifiques pour effectuer un audit de sécurité</p>
                <a href="https://www.geeek.org/audit-securite-serveur-linux-lynis/" target="_blank">En savoir plus sur Lynis<i class="ri-arrow-right-line"></i></a>
            </div>
            <div class="card">
                <span><i class="ri-search-eye-fill"></i></span>
                <h4>Détection d'anomalies</h4>
                <p>Détecter les anomalies dans les comportements de machines</p>
                <a href="#">Outils HIDS<i class="ri-alarm-warning-fill"></i></a>
            </div>
            <div class="card">
                <span><i class="ri-team-fill"></i></span>
                <h4>Gestion des politiques de sécurité</h4>
                <p>Évaluation de la conformité aux politique de sécurité établies</p>
            </div> 
        </div>
    </section>
    <script src="script.js"></script>
</body>
</html>