<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.0.1/remixicon.css">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}">
    <title>SAé 502 | Application de collection d'informations sur les machines infrastructure</title>
</head>
<body>
    <nav>
        <div class="nav-logo">
            <a href="#">
                <img src="{{ url_for('get_image', filename='logo-2.png') }}">
            </a>
        </div>


        <ul class="nav-links">
            <li class="link"><a href="{{url_for('home')}}">Accueil</a></li>
            <li class="link"><a href="{{url_for('application')}}">Application</a></li>
            <li class="link"><a href="{{url_for('a_propos')}}">À propos</a></li>
        </ul>

    
        <button class="btn">Sujet</button>
    </nav>


    <div class="container">
      <div class="jumbotron">
        <h1><span>Interface Utilisateur</span></h1>
        <p>Récupération des informations spécifiques à propos de nos machines Linux</p> 
      </div>
    </div>
    <div class="container">
      <h3></span>Utilisation Machines</span></h3>
    </div>
    <section class="container">
        <div class="features">
            <p>Lancement de la commande</p>
        </div>
        <div class="command">
            <form class="command" id="commandForm" action="/execute_ssh_command2" method="post">
                <label class="command" for="command">Commande : Execution du script:</label>
                <input class="commandbox" type="text" id="command" name="command" required>

                <label class="command" for="command">Adresse d'hôte:</label>
                <input class="commandbox" type="text" id="command" name="hote" required>
        
                <label class="command" for="command">Nom User</label>
                <input class="commandbox" type="text" id="command" name="user" required>
        
                <label class="command" for="command">Mot de passe</label>
                <input class="commandbox" type="password" id="command" name="passwd" required>
                <label class="command" for="command">Mot de passe Sudo</label>
                <input class="commandbox" type="password" id="command" name="sudo_passwd" required>
                <button type="commandbutton">Execute</button>
            </form>
        </div>
        {% if execute_ssh_command2 %}
        <p id="commandForm"> {{ execute_ssh_command2 }}</p>
        {% endif %}

    
        
    </section>

    <footer class="container">
        <span class="blur"></span>
        <span class="blur"></span>
        <div class="column">
            <div class="logo">
                <img src="{{ url_for('get_image', filename='logo-2.png') }}">
            </div>
            <p>
                © 2023-2024 HONORÉ Matthieu, GILLÉ-PERRIER Pierre-Hadrien, 
                HURET Florian, NEVEU Gabin. Tous droits réservés.
                <br>
                B.U.T. 3ème année Réseaux & Télécommunications option cybersécurité.
                <br>
                Application de collection d'informations sur les machines infrastructure.
            </p>
        </div>
    </footer>

    <script src="script.js"></script>
</body>
</html>