<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.0.1/remixicon.css">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}">
    <title>SAé 502 | Application de collection d'informations sur les machines infrastructure</title>
</head>
<body>
    <nav>
        <div class="nav-logo">
            <a href="#">
                <img src="{{ url_for('get_image', filename='logo-2.png') }}">
            </a>
        </div>


        <ul class="nav-links">
            <li class="link"><a href="{{url_for('home')}}">Accueil</a></li>
            <li class="link"><a href="{{url_for('application')}}">Application</a></li>
            <li class="link"><a href="{{url_for('a_propos')}}">À propos</a></li>
        </ul>

    
        <button class="btn">Sujet</button>
    </nav>


    <div class="container">
      <div class="jumbotron">
        <h1><span>Surveillance des certificats SSL</span></h1>
        <p>Récupération de date d'expiration des certificats SSL</p> 
      </div>
    </div>
    <section class="container">
        <h2 class="header">Surveillance du certifcat SSL du serveur apache</h2>
        <br>
        <br>
        <p>Date d'expiration du certificat : </p>
        <p>Ubuntu SSL Serveur</p>
        <form class="command" id="commandForm" action="/surveillance_ssl_ubuntu" method="post">
            <button type="commandbutton">Execute</button>
        </form>
        {% if surveillance_ssl_ubuntu %}
        <p id="commandForm"> Date d'expiration SSL : {{ surveillance_ssl_ubuntu }}</p>
        {% endif %}
    
        
    </section>

    <footer class="container">
        <span class="blur"></span>
        <span class="blur"></span>
        <div class="column">
            <div class="logo">
                <img src="{{ url_for('get_image', filename='logo-2.png') }}">
            </div>
            <p>
                © 2023-2024 HONORÉ Matthieu, GILLÉ-PERRIER Pierre-Hadrien, 
                HURET Florian, NEVEU Gabin. Tous droits réservés.
                <br>
                B.U.T. 3ème année Réseaux & Télécommunications option cybersécurité.
                <br>
                Application de collection d'informations sur les machines infrastructure.
            </p>
        </div>
    </footer>

    <script src="script.js"></script>
</body>
</html>