<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.0.1/remixicon.css">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}">
    <title>SAé 502 | Application de collection d'informations sur les machines infrastructure</title>
</head>
<body>
    <nav>
        <div class="nav-logo">
            <a href="#">
                <img src="{{ url_for('get_image', filename='logo-2.png') }}">
            </a>
        </div>


        <ul class="nav-links">
            <li class="link"><a href="{{url_for('home')}}">Accueil</a></li>
            <li class="link"><a href="{{url_for('application')}}">Application</a></li>
            <li class="link"><a href="{{url_for('a_propos')}}">À propos</a></li>
        </ul>

    
        <button class="btn">Sujet</button>
    </nav>


    <div class="container">
      <div class="jumbotron">
        <h1><span>INFORMATION SYSTÈME</span></h1>
        <p>Récupération des informations système d'une machine</p> 
      </div>
    </div>
    <div class="container jumbotron">
          <h3>System Information</h3>
          <br>
    
          <!-- Afficher les informations CPU -->
          <p class="info-cpu">CPU Cores: {{ cpu_cores }}</p>
          <div class="row">
            <ul class="info-cpu">
              {% for percent in cpu_percent %}
                <li class="info-cpu">CPU Core {{ loop.index }} Usage: {{ percent }}%</li>
              {% endfor %}
            </ul>
          </div>
          <br>
    
          <!-- Afficher les informations Mémoire en Mo -->
          <div class="row">
            <p>Total Memory: {{ memory_stats.total // (1024*1024) }} MB</p>
            <p>Used Memory: {{ memory_stats.used // (1024*1024) }} MB</p>
            <p>Free Memory: {{ memory_stats.available // (1024*1024) }} MB</p>
            <p>Memory Usage: {{ memory_stats.percent }}%</p>
          </div>
          <br>
          <!-- Afficher les informations Réseau en Mo -->
          <div class="row">
            <p>Total Bytes Sent: {{ network_stats.bytes_sent // (1024*1024) }} MB</p>
            <p>Total Bytes Received: {{ network_stats.bytes_recv // (1024*1024) }} MB</p>
          </div>
          <br>
          <!-- Afficher les informations Stockage en Go -->
          <div class="row">
            <p>Total Disk Space: {{ disk_usage.total // (1024*1024*1024) }} GB</p>
            <p>Used Disk Space: {{ disk_usage.used // (1024*1024*1024) }} GB</p>
            <p>Free Disk Space: {{ disk_usage.free // (1024*1024*1024) }} GB</p>
            <p>Disk Usage: {{ disk_usage.percent }}%</p>
          </div>

        </div>
    </section>

    <footer class="container">
        <span class="blur"></span>
        <span class="blur"></span>
        <div class="column">
            <div class="logo">
                <img src="{{ url_for('get_image', filename='logo-2.png') }}">
            </div>
            <p>
                © 2023-2024 HONORÉ Matthieu, GILLÉ-PERRIER Pierre-Hadrien, 
                HURET Florian, NEVEU Gabin. Tous droits réservés.
                <br>
                B.U.T. 3ème année Réseaux & Télécommunications option cybersécurité.
                <br>
                Application de collection d'informations sur les machines infrastructure.
            </p>
        </div>
    </footer>

    <script src="script.js"></script>
</body>
</html>

<!--
  <!DOCTYPE html>
<html lang="fr">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>


  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>My First Bootstrap Page</h1>
  <p>Resize this responsive page to see the effect!</p> 
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>System Information</h3>


      <div style="width: 400px; height: 200px;">
        <canvas id="cpuChart"></canvas>
      </div>


      <p>CPU Cores: {{ cpu_cores }}</p>
      <ul>
        {% for percent in cpu_percent %}
          <li>CPU Core {{ loop.index }} Usage: {{ percent }}%</li>
        {% endfor %}
      </ul>


      <p>Total Memory: {{ memory_stats.total // (1024*1024) }} MB</p>
      <p>Used Memory: {{ memory_stats.used // (1024*1024) }} MB</p>
      <p>Free Memory: {{ memory_stats.available // (1024*1024) }} MB</p>
      <p>Memory Usage: {{ memory_stats.percent }}%</p>


      <p>Total Bytes Sent: {{ network_stats.bytes_sent // (1024*1024) }} MB</p>
      <p>Total Bytes Received: {{ network_stats.bytes_recv // (1024*1024) }} MB</p>


      <p>Total Disk Space: {{ disk_usage.total // (1024*1024*1024) }} GB</p>
      <p>Used Disk Space: {{ disk_usage.used // (1024*1024*1024) }} GB</p>
      <p>Free Disk Space: {{ disk_usage.free // (1024*1024*1024) }} GB</p>
      <p>Disk Usage: {{ disk_usage.percent }}%</p>

    </div>
    <div class="col-sm-4">
      <h3>Column 2</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 3</h3>        
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
  </div>
</div>



</body>
</html>
-->